{% extends 'base.html.twig' %}

{% block title %}TimeSheet Dashboard{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
                {% if timesheet is empty %}
                        <a class="btn btn-primary" href="{{ path('app_timesheet_start_shift') }}" role="button">Start Shift</a>
                {% endif %}

                {% for data in timesheet %}
                    {% if data.date|date('Y-m-d') != 'now'|date('Y-m-d') %}
                        <a class="btn btn-primary" href="{{ path('app_timesheet_start_shift') }}" role="button">Start Shift</a>
                    {% elseif data.endTime is not null %}
                        <div class="alert alert-danger" role="alert">You've already submitted a shift today!</div>
                    {% else %}
                        <a class="btn btn-danger" href="{{ path('app_timesheet_end_shift') }}" role="button">End Shift</a>
                    {% endif %}
                {% endfor %}

            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Title Here</h1>
            </div>

        </div>
{% endblock %}